<div class="wrapper-gray">
</div>
<div class="wrapper-white">
  <div class="userinfo">
    <h2>This template is built with <i class="fas fa-heart"></i> by:</h2>
    <ul class="list-inline text-center">
      <% [{username: "guillo16", realname: "Guillermo"}, {username: "colinstrachan", realname: "Colin"}].each do |gh_username| %>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username[:username]}", class: "img-circle" %>
          <h4><%= gh_username[:realname].capitalize %></h4>
          <h3>
            <a href="http://www.github.com/<%= gh_username[:username] %>">
              <i class="fab fa-github"></i>
              <%= gh_username[:username] %>
            </a>
          </h3>
        </li>
      <% end %>
    </ul>
  </div>
</div>



